body {
    background-color: #00a3d7;
  }
  
  ul {
    list-style-type: square;
    
  }

.container {
  display: flex;
  background-color: rgb(20, 20, 20);
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  
  
}
.container a{
  color: white;
  text-decoration: none;

}
.container li{
  list-style-type: none;
  display: inline;
  
}
nav{
  position: fixed;
  width: 100vw;
  top:0;
}
main{
  position: relative;
  top:100px;
}