*{ 
    margin:0;
}
    
body {
    background-color: #0079a1;
  }
  
  ul {
    list-style-type: square;
    
  }

.container {
  display: flex;
  background-color: rgb(20, 20, 20);
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  
  
}
.container a{
  color: white;
  text-decoration: none;

}
.container li{
  list-style-type: none;
  display: inline;
  
}
nav{
  position: fixed;
  width: 100%;
  top:0;
  z-index: 2;
}
main{
  position: relative;
  top: 70px;
}
.mainGallery{
  display: grid;
  grid-template-columns: 450px 450px 450px;
  z-index:-2;
}
.mainGallery img{
  height: 350px;
  width: 440px;
}

  

footer {

  background-color: #1c1d5a;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
footer a{
  color: #fff;
}
.mainGallery img{
  border:2px solid black;
  border-radius: 6px;
  margin-bottom: 7px;
}
