body {
    background-color: #00a3d7;
  }
  
  ul {
    list-style-type: square;
    
  }

  .container {
    height: 70px;
 display: flex;
 background-color: rgb(31, 31, 31);
 color:rgb(225, 241, 255);
 flex-direction: row;
 justify-content: space-between;
  }

  a { 
    text-decoration: none;
  }
  #navlist{
    display: inline-flex;
    list-style-type: none;
    color: white;
  }
  #navlist a{
    color: floralwhite;
  }